/* scrollbar */
::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 8px solid transparent;
    background-clip: content-box;
}
  
.show-scrollbar::-webkit-scrollbar-thumb {
    background-color: #dadada;
}
  
.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b7b7b7;
    border: 4px solid transparent;
}


/*  base */
html{
    overflow: hidden;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    margin: auto;
    display: block;
}

button:focus,
button:active {
  outline: none !important;
}

body>.row {
    display: flex;
    justify-content: center;
}

main>.container>.row {
    display: initial !important;
}



/* main navbar */
header[aria-label="primary-menu"] {
    position: relative;
    display: flex;
    background-color: white;
    justify-content: space-between;
    z-index: 100;
    transition: 0.3s ease;
    margin-top: 0;
    padding-bottom: 0;
}

header[aria-label="primary-menu"] nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

header[aria-label="primary-menu"] nav ul li {
    padding: 10px;
}

header[aria-label="primary-menu"] nav ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header[aria-label="primary-menu"] nav ul li div span {
    padding: 10px;
}

header[aria-label="primary-menu"]>div {
    display: flex;
    align-items: center;
    height: 80px;
}

header[aria-label="primary-menu"] nav ul li div img {
    width: 24px
}

header[aria-label="primary-menu"]>div>img {
    height: 24px;
    margin-right: 0;
}

header[aria-label="primary-menu"] nav ul li div img {
    width: 24px;
    height: 24px;
}

.col-lg-6.scrollable_div {
    padding: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


/*  scrollable element */
.scroll-wrap{
    width: 100%;
    
    overflow: hidden;
    margin: 0;
    padding-bottom: 0%;
}

.scrollable_div {
    padding: 0%;
    padding-top: 0;
    height: 50%;
    width: 104%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    padding-left: 3.5vh;
    margin-top: 0;
}

.scrollable_feed {
    padding: 0%;
    padding-top: 0;
    width: 100vw;
    height: 94vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
}

#drawer{
    position: fixed;
    width: 105vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.15);
    margin-left: -2.7vw;
    padding: 0;
    padding-left: 0;
}

#drawer .row {
    margin: 0;
}

.slide_button{
    top: 20%;
    height: 7.5vh;
    border-radius: 40px 40px 0 0;
    background-color: transparent;
}

#slide_button {
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: transparent;
    border: 0;
    color: white;
    z-index: 9990;
    height: 2vh;
}



/* userpage fallows navbar */
main nav[aria-label="followers/following-nav"] {
    background-color: white;
    box-shadow: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    margin: 15px 10% 10px;
    top: 15px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

main nav[aria-label="followers/following-nav"].active {
    background-color: black;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.3);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

main nav[aria-label="followers/following-nav"].active ul li a {
    opacity: 0.5;
    font-weight: normal;
    color: white !important;
}

main nav[aria-label="followers/following-nav"] ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0 5%;
    margin-bottom: auto;
    margin-top: auto;
}

main nav[aria-label="followers/following-nav"] ul li a {
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: black !important;
    opacity: 1;
    font-weight: bold;
}

main nav[aria-label="followers/following-nav"] ul li a:hover{
    opacity: none;
}

main nav[aria-label="followers/following-nav"] ul li a.active {
    font-weight: bold;
    opacity: 1;
}



/* feed navbar */
main nav[aria-label="feed-menu"] {
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    height: 40px;
    margin: 10px auto 10px;
    top: 10px;
    z-index: 101;
    min-width: 200px;
    max-width: 200px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.3);
}

main nav[aria-label="feed-menu"] ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0 10px;
    margin-bottom: auto;
    margin-top: auto;
}

main nav[aria-label="feed-menu"] ul li a {
    opacity: 0.5;
    font-weight: normal;
    color: white;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

main nav[aria-label="feed-menu"] ul li a.active {
    font-weight: bold;
    opacity: 1;
}


/* posts list */
main div[id="scrollable_div"]>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    width: 612px;
}

main section article {
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

main>section>article>section[aria-label="photo"] {
    width: 293px;
    border: 2px solid black;
    padding: 0;
}

main>section>article>section>img {
    width: 293px;
}

main .scrollable_el > footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 7% auto 15%;
    width: 60%;
}

main>footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

main>section>article>header>div[class="row"]>div[class="col-3"] {
    padding-left: 20px;
}

main>section>article>header>div[class="row"]>div[class="col-3"]>a {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

main>section>article>header>div[class="row"]>div[class="col-3"]>a>img {
    border-radius: 50%;
}

main>section>article>header>div[class="row"]>div[class="col-9"]>a {
    display: inline-block;
    justify-content: center;
    align-items: center;
}


.profile-aside {
    height: 60vh;
    padding-top: 10px;
}

.profile-aside nav button {
    border: 0;
    width: 100%;
    padding: 0;
}

.profile-aside nav {
    padding: 0;
}

.profile-aside nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.profile-aside nav ul li {
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.profile-aside nav ul li button img {
    height: 24px;
    width: 24px;
}

.profile-aside>section {
    border: 2px solid rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    height: 60vh;
}



/* search section */
#search-section header div {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 8px;
}

#search-section header div input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 14px;
    color: #262626;
}

#search-section header div button {
    margin-left: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 100%;
    border: 0;
}

.profile-aside nav button:focus {
    outline: none;
}

.profile-aside nav button.active {
    background-color: #fafafa;
}


/* user header */
.user_header{
    margin: 2% auto 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.user_header img{
    min-width: 100px;
    width: 80%;
    max-width: 200px;
    height: auto;
    border-radius: 1000px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.3);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
}

.username{
    padding-top: 0.5vw;
    margin-left: 0px;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 3%;
}

.bio{
    margin-left: 15px;
    font-size: 1em;
    margin-bottom: 0;
}

.edit_user_btn{
    margin: 0;
    padding: 0;
    width: 100%;
}

.user_info{
    padding-left: 5% !important;
}

.num{
    font-size: 1.3em;
}

.posts_count{
    padding: 0.7% 0 5% 6%;
    text-align: left;
    font-size: 1.2em;
    margin: 0;
}

.num_posts{
    font-size: 1.8em;
}

.add_button{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 10%;
    padding-left: 50%;
}

.add_icon{
    width: 40px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 5%;
    margin-bottom: auto;
    z-index: 9999;
}

.swipe_div{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: -4%;
    opacity: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-top: 5%;
}

.swipe_div pre{
    color: white;
    font-size: 0.7em;
    margin-top: 3px;
}

.swipe_icon{
    width: 15px;
    height: auto;
    margin: 0;
    padding: 0;
    margin-top: 1vw;
    margin-bottom: auto;
}

main section#posts_section article{
    background-color: black;
    margin: 0;
    padding: 0.5vw;
}

main section#posts_section article img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}



@media screen and (min-width: 768px) and (max-width: 991px){
    /* Tablet rule */
    header[aria-label="primary-menu"] nav ul li {
        padding: 10px;
    }

    header[aria-label="primary-menu"]>div {
        justify-content: flex-end;
        margin-right: 50px;
    }

    .add_button{
        padding-left: 19vw;
        padding-top: 13px;
    }
    
    .user_info{
        padding-left: 3% !important;
    }

    .user_header{
        margin: 0;
    }

    .user_header img{
        margin-top: 4%;
    }

    main nav[aria-label="followers/following-nav"]{
        max-width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    main nav[aria-label="feed-menu"] {
        max-width: 300px;
    }

    .posts_count{
        padding-left: 16%;
    }

    .swipe_div{
        margin: 0;
    }

    .username{
        padding-top: 4%;
        font-size: 2.5em;
        margin-bottom: 0;
    }

    .bio{
        font-size: 1.1em;
    }

    .add_icon{
        width: 50px;
    }

    #drawer{
        width: 102vw;
        margin-left: -1vw;
        border-radius: 60px;
    }

    #drawer .scrollable_div {
        width: 99.3vw;
        padding: 0;
        margin-left: 2.5%;
        height: 64vh;
    }

    .slide_button{
        height: 80px;
    }

    .posts_count{
        font-size: 1.4em;
        padding-top: 4%;
        margin-left: 5vw;
    }

    main nav[aria-label="followers/following-nav"]{
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 50px;
        border-radius: 100px;
        margin-top: -1%;
    }

    #followers_button{
        font-size: 1.3em;
    }

    #following_button{
        font-size: 1.3em;
    }
}


@media screen and (min-width: 992px) {
    /* Desktop rule */
    header[aria-label="primary-menu"] nav ul li {
        padding: 10px;
    }

    header[aria-label="primary-menu"]>div {
        justify-content: flex-end;
        margin-right: 50px;
    }

    header[aria-label="primary-menu"]>div {
        justify-content: center;
    }

    header[aria-label="primary-menu"] {
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    }
    
    main nav[aria-label="feed-menu"] {
        margin: 15px auto 10px;
        top: 15px;
        max-width: 300px;
    }

    main nav[aria-label="feed-menu"] ul li a:hover{
        opacity: 0.7;
    }

    #drawer .scrollable_div {
        height: 50%;
        width: 69.5vw;
        padding: 0;
        margin: 0;
        margin-top: 8vh;
        padding-left: 1.5%;
        padding-right: 0;
    }

    #drawer .scrollable_el {
        
        padding-right: 0;
    }
    
    .scrollable_feed {
        height: 75%;
        max-width: 100% !important;
    }

    main .scrollable_el > footer button{
        margin: 2% auto 3%;
        width: 20%;
    }

    main nav[aria-label="followers/following-nav"]{
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
        height: 50px;
        border-radius: 100px;
        margin-top: 0%;
    }

    main nav[aria-label="followers/following-nav"] ul li a:hover{
        opacity: 0.7;
    }

    main nav[aria-label="followers/following-nav"] ul li a.active:hover{
        opacity: 1;
    }

    .add_button{
        padding-top: 1vh;
        padding-left: 15vw;
    }

    .add_icon{
        width: 50px;
    }

    #drawer{
        border-radius: 0 30px;
        width: 69.5vw;
    }

    .user_header img{
        width: 60%;
        margin-left: 100px;
        margin-right: auto;
        max-width: 13vw;
    }

    .username{
        padding-top: 7%;
        font-size: 3em;
        margin-bottom: 0;
    }

    .bio{
        font-size: 1.2em;
    }

    .user_info{
        padding-left: 0% !important;
        margin-left: -5%;
    }

    .user_header{
        margin: 0;
        margin-top: -1vw;
    }
    
    .posts_count{
        font-size: 1.4em;
        padding-top: 1%;
        margin-left: 10%;
    }
    
    #followers_button{
        font-size: 1.3em;
    }

    #following_button{
        font-size: 1.3em;
    }

    .slide_button{
        height: 10px;
    }

    .scrollable_el{
        padding-left: 40px;
        padding-right: 20px;
    }

    .swipe_div{
        margin: 0;
    }

    main section#posts_section article{
        padding: 0.15vw;
    }
}
