ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

li {
    display: flex;
    padding: 10px;
}

.navbar-icon {
    width: 24px;
    height: 24px;
}

.first-group {
    margin-right: auto;
}

.second-group {
    margin-left: auto;
}

.logo {
    height: 24px;
}